* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dancing Script", cursive;
  color: white;
}

.escritos {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  background-color: pink;
  overflow: hidden;
}

/*
  .escritos {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #ffeef2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c71585;
    font-size: 2rem;
    z-index: 1;
  } */

  .heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
    animation: fall linear infinite;
    opacity: 0.8;
  }

  .heart::before,
  .heart::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }

  .heart::before {
    top: -10px;
    left: 0;
  }

  .heart::after {
    left: -10px;
    top: 0;
  }

  @keyframes fall {
    0% {
      top: -10%;
      transform: translateX(0) rotate(45deg);
    }
    100% {
      top: 100%;
      transform: translateX(100px) rotate(45deg);
    }
  }


    .carousel-container {
      overflow: hidden;
      width: 100%;
      height: 50vh; /* ajuste a altura conforme necessário */
      position: relative;
    }

    .wrapper {
      background-color: pink;
      display: flex;
      width: calc(200%); /* o dobro para permitir duplicação */
      animation: scroll 20s linear infinite;
    }

    .wrapper img {
      width: auto;
      height: 50vh;
      flex-shrink: 0;
      object-fit: cover;
      margin-right: 10px;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }


    button {
      border: 1px solid white;
      border-radius: 10px;
      width: 50%;
      padding: 1rem;
      margin: 1rem auto;
      background-color: rgb(255, 151, 168);
      font-family:"Dancing Script", cursive;
      font-size: 20px;
      color: white;
    }
